// Цей файл містить основні стилі для всіх кнопок, використовуючи змінні,
// визначені в файлі _btn.scss. Тут описуються стилі,
// які будуть спільними для всіх кнопок, незалежно від типу
@use 'sass:math';
.btn {
  display: inline-flex;
  align-items: center;
  gap: $btn-layer-spacing;

  min-width: $btn-layer-min-width;
  min-height: $btn-layer-min-height;
  padding: $btn-padding-x $btn-padding-y;

  color: $btn-text-color;
  border-radius: $btn-layer-border-radius;

  transition-property: background-color, color, box-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease;

  // Normalize for tag <button>
  font: inherit;
  text-transform: none;
  background-color: transparent;
  border: 1px solid transparent;
  margin: 0;
  overflow: visible;
  cursor: pointer;

  .btn-inner {
    font-weight: $btn-text-weight;
    font-size: $btn-text-size;
    line-height: math.div($btn-text-height, $btn-text-size);
    letter-spacing: math.div($btn-text-spacing, $btn-text-size);
  }

  .btn-icon {
    fill: currentColor;
  }
}
