@use '../../../utils/functions' as fn;

@if index($btn-types, danger) {
  .btn--warning {
    background-color: fn.get-colors('warning');

    &:active {
      background-color: darken(fn.get-colors('warning'), 10%);
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: lighten(fn.get-colors('warning'), 10%);
      }
    }

    &[disabled] {
      background-color: fn.get-colors('light-secondary');
    }
  }
}
